.dropdown {
    position: relative;
}

.dropdownList {
    list-style: none;
    position: absolute;
    top: 105%;
    right: 0;
    left: 0;
    background: #fff;
    border: 0.8px solid #ddd;
    border-radius: 0.6vw;
    margin: 0;
    padding: 0.8vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
    
}

.dropdownButton {
    width: 8vw;
    border: 0.5px solid #4F4F4F;
    outline: none;
    border-radius: 0.6vw;
    padding: 0.7vw 2vw;
    cursor: pointer;
}